.footer  {
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
padding-top: 45px;
padding: 45px 70px 50px 70px;


}
.title-footer div {
        background: linear-gradient(to bottom, #15FFD5, #EF0D70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 800;

}
.adress-footer {
    font-size: 15px;
    font-weight: 600;
    color: #cfcfcf;
     line-height: 1.5;
     margin-top: 12px;
}
.adress-footer span a,.global-quest span a
    {
    text-decoration: underline;
    cursor: pointer;
    color: #cfcfcf;

}
.copy-message {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:#8e3bd7;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    margin-left: 10px;
}
.title-creator {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 11px;
}
.creator-footer img {
    width: 300px;
}
.global-quest {
    font-size: 16px;
    font-weight: 600;
    color: #cfcfcf;
     line-height: 1.5;
     margin-top: 12px;
     padding-bottom: 50px;
     text-align: end;
}
.up-footer {
    display: flex;
    justify-content: space-between;
}

.right-footer {
    display: flex;
    padding-top: 0px;
}
.value-footer {
    font-size: 14px;
    color: #cfcfcf;
        line-height: 1.7;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-top: 23px;

}

.value-footer div:hover {
    color: #ffffff;

}
.title-right-footer, .title-right-footer-last {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-top: 50px;


}

.title-right-footer::after {
display: block;
content: '';
background-color: #bebdbd;
width: 240px;
height: 3px;
margin-top: 5px;

}
.title-right-footer-last::after {
    display: block;
    content: '';
    background-color: #bebdbd;
    margin-top: 5px;
    width: 150px;
    height: 3px;
    }

.line-footer {
    background-color: #bebdbd;
    height: 3px;

}
.btns-social-footer {
display: flex;
justify-content: end;
}
.btns-social-footer img {
margin-left: 5px;
margin-bottom: 5px;
}
.date-footer {
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5px;
}

.wrapper-container-footer {
    max-width: 1950px;
    margin: 0 auto;

}
.footer-wrap {
    background: linear-gradient(to right, #8102BD, #43035E);

}

@media (max-width: 1670px) {
    .title-right-footer::after {
        width: 200px;
    }
}

@media (max-width: 1470px) {
    .title-right-footer::after {
        width: 180px;
    }
}

@media (max-width: 1390px) {
    .left-footer {
        transform: scale(0.8);
    
        transform-origin: top left;
      }
      .right-footer {
        transform: scale(0.9);
    
        transform-origin: top right;
      }
}

@media (max-width: 1278px) {
    .left-footer {
        transform: scale(0.7);
    
        transform-origin: top left;
      }
      .right-footer {
        transform: scale(0.9);
    
        transform-origin: top center;
      }
}

@media (max-width: 1218px) {
  
      .title-right-footer::after {
        width: 160px;
    }
}

@media (max-width: 1143px) {
    .right-footer {
        transform: scale(0.9);
    
        transform-origin: top left;
      }
}

@media (max-width: 1100px) {
    .btns-social-footer img {
        transform: scale(0.8);
    
        transform-origin: center right;
      }
      .date-footer {
        transform: scale(0.9);
    
        transform-origin: center left;
      }
      .right-footer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        transform: scale(0.7);
        transform-origin: top right;

      }
}
@media (max-width: 730px) {
    .right-footer {
        transform: scale(0.8);
    
        transform-origin: top left;    
        margin-top: 0px;
        width: 138%;
        /* flex-wrap: nowrap; */
      }
      .global-quest div {
        text-align: left;
      }
      .up-footer {
        display: flex;
        flex-direction: column;
      }
      .left-footer {
        display: flex;
        flex-direction: row;
        width: 102%;
      }
      .left-footer div {
margin-right: 50px;
      }

}
@media (max-width: 580px) {
    .left-footer div {
        margin-right: 10px;
              }
}
@media (max-width: 492px) {
    .left-footer div {
        margin-right: 10px;
              }
              .left-footer {
                display: flex;
                flex-direction: column;
                width: 102%;
              }
              .right-footer {
                margin-top: 0px;
              }

              .btns-social-footer img {
                transform: scale(0.7);
            
                transform-origin: center right;
                margin: 0;
              }
              .date-footer {
                transform: scale(0.8);
            
                transform-origin: center left;
              }
              
                /* margin-top: -130px;
              } */
              .title-footer div {
                width: 400px;
            }
            .adress-footer {
                font-size: 14px;
                width: 400px;
            }
            
        
}
@media (max-width: 372px) {
    .title-right-footer::after, .title-right-footer-last::after {
        width: 180px;
    }
.title-right-footer {
    padding-top: 20px;
}
.down-footer {
    padding-top: -160px;
}
.title-footer div {
    width: 400px;
}
}

@media (max-width: 346px) {
    .footer {
        padding-left: 30px;
    margin-top: -100px;
    }
}