@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
      font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #1C4C8E,#3262A4,  #172747, #172747, #622C99,#652B98, #E40E87  );

    /* animation: gradientAnimation 15s ease infinite; */
    overflow-x: hidden;

}

.wrapper-container {

    /* justify-content: space-between; */

}


/* */
