.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel__track {
    display: flex;
    animation: scroll 15s linear infinite;
}

.carousel__slide {
    min-width: 20%; /* Adjust this to show a different number of slides */
    transition: transform 0.5s;
}

.carousel__slide img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
